<div class="card">
    <figure><img class="card-img-top" src="{{this.image_url}}" alt=""></figure>
    
    <div class="card-body">
        <h2 class="card-name"> {{this.name}} </h2>
        <h3 class="card-tagline" > {{this.tagline}} </h3>
        <p class="card-description"> {{this.description}} </p>
    </div>
</div>