
<div class="beers-card">
<img class="beer-photo" src="{{this.image_url}}">
<h4 class="beer-name">{{this.name}}</h4>
<h5 class="beer-tagline">{{this.tagline}}</h5>
<p class="beer-description">{{this.description}}</p>
</div>