 
<div class="card"> 
    <div>
    <img class="card-img-top" src="{{this.image_url}}" alt="">
    </div>
    <div class="card-body"> 
        <h2 class="card-title">{{this.name}}</h2>
        <h5 class="card-tag">{{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>
  
