<div class="beer-container">
  <div class="beer-image-container">
    <img class="beer-image" src="{{image_url}}" alt="">
  </div>
  <div class="beer-header">
    <p class="beer-name">{{name}}</p>
    <p class="beer-tagline">{{tagline}}</p>
  </div>
  <div class="beer-body">
    <div class="beer-text">
      <p>{{description}}</p>
    </div>
  </div>
</div>