<div class="beer-card">
    <img class="beer-img" src="{{this.image_url}}" alt="Beer image">
    <div class="beer-body">
        <h2 class="card-title">{{this.name}}</h3>
            <h3 clas="card-tagname">{{this.tagline}}</h5>
                <p class="card-text">{{this.description}}</p>
    </div>
</div>