<div class="beer_card">
    <div class="image"><img src="{{image_url}}"></div>
    <div class="name">{{name}}</div>
    <div class="tagline">{{tagline}}</div>
    <p class="description">{{description}}</p>
</div>