<div class="error-container">
  <div class="image-container">
    <img class="error-image" src="/images/barney.png" alt="Pitcher of beer" />
  </div>
  <div class="button-container">
    <h2>Oh man, there's no beer here!   <span class="burp">burp!...</span></h2>
  </div>
</div>