<div class="index-container">
    <img src="/images/beer.png" ALT="beer" width="25%">
    <div class="button-container">
        <button type="button" width="25%">Check the Beers!</button>
        <button type="button" width="25%">Check a Random Beer!</button>
    </div>
</div>