<div class="index-container">
  <section class="content">
    <img src="/images/beer.png" alt="beer image">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a Random Beers!</a>
  </section>
</div>