<div class="index-container">
  <div>
    <img class="maging-bottom-30px" src="/images/beer.png" alt="beer">
  </div>
  <div>
    <button class="maging-bottom-30px" onclick="location.href='/beers'" type="button">Check the Beers!</button>
  </div>
  <div>
    <button class="maging-bottom-30px" onclick="location.href='/random-beers'" type="button">Check the random
      Beers</button>
  </div>

</div>