<div class="index-container">
    <img class="img-beer" src="/images/beer.png" width="20%" alt="">
    <a href="/views/beers.hbs">Check the Beers!</a>
    <a href="/views/randomBeers.hbs">Check a Random Beer</a>
</div>