<div class="index-container">

  <div class="index-content">
    <img src="/images/beer.png" alt="beer">
    <div class="index-button">
      <a href="beers" class="button">Check the beers!</a></div>
    <div class="index-button">
    <a href="random-beers" class="button">Check a Random Beer</a></div>
  </div>
</div>
</div> 