<div class="index-container">
  <img src="./images/beer.png" alt="Beer">
  <p><a href="./beers" class="btn">Check the Beers!</a></p>
  <p><a href="./random-beer" class="btn">Check a Random Beer!</a></p>
</div>