<div>
    <div class="index-container">
        <img src="/images/beer.png" alt="Beer">
        <div class="div-boton">
            <button class="boton" type="button"><a href="/beers">Cheeck the beers!</a></button>
            <button class="boton" type="button"><a href="/randomBeers">Cheeck s Random Beers!</a></button>
        </div>
    </div>
</div>