<div class="index-container">
  <div class="beer-image">
    <img src="/images/beer.png" alt="Beer" width="380px">
  </div>
  <div class="beer-buttons">
    <a href="/beers"><button class="btn">Check the Beers!</button></a>
    <a href="/random-beer"><button class="btn">Check a random Beer!</button></a>
  </div>
</div>