<div class="index-container">
  <div>
    <img class="beer-img" src="/images/beer.png" alt="">
  </div>

  <div class="buttons">
    <a href="/beers"><button class="check">Check the beers!</button></a><br>
    <a href="/random-beers"><button class="check">Check a Random Beer!</button></a>
  </div>
</div>