<div class="index-container">
  <img src="images/beer.png">
</div>
<div class="buttons">
  <button><a href="beers">The Beers!</a></button>
  <button><a href="random-beers">Check a Random Beer</a></button>
</div>