<div class="index-container">
  <img src="images/beer.png">

 <a href="/beers"><button class='alt'>Check the Beers</button></a>
 <a href="/random-beer"><button class='alt'>Check a Random Beer</button></a>
</div>