<div class="index-container">
  <div class="img">
    <img src="/images/beer.png" alt="beer image">
  </div>
  <a class="button" href="/beers">Check the beers!</a>
  <a class="button" href="/beers/random-beer">Check a random beer!</a>
</div>