<div class="index-container">
    <div class="container-img">
        <img src="/images/beer.png" alt="beer" class="index-container-img">
    </div>
    {{!-- <a href="/beers"><button class="button">Check the Beers!</button> </a>
    <a href="/random-beers"> <button class="button">Check a Random Beer!</button> </a> --}}

    <a href="/beers" class="button">Check the Beers! </a>
    <a href="/random-beers" class="button"> Check a Random Beer! </a>
</div>