<div class="index-container">
  <img src="/images/beer.png">
  <a class="btn btn-primary" href="beers" role="button">Get Beers</a>
  <a class="btn btn-primary" href="randomBeer" role="button">Get a random Beer</a>
</div>