<div class="index-container">
  <div class="index-container column">
    <img class="beer-home-image" src="/images/beer.png" />
    <button class="button-beer" onclick="location.href = '/beers';">Check the Beers!</button>
    <button class="button-beer" onclick="location.href = '/random-beers';">Check a Random Beer!</button>
  </div>
</div>