<img class="main-imgage" src="images/beer.png" alt="beer image">
<section class="button-container">
  <a class="main-button" href="/beers">Check the Beers!</a>
  <a class="main-button" href="/random-beers">Check a Random Beer!</a>
</section>