<div class="index">
  <section>
    <img class="index-img" src="../images/beer.png" alt="beer picture"/>
  </section>
  <section>
    <a href="/beers" class="button">Check the Beers</a>
    <a href="/randomBeers" class="button">Check a Random Beer!</a>
  </section>
</div>