<div class="index-container">
    <img src="/images/beer.png" alt="">
</div>

<div class="btns">
    <button class="btn-beer" type="button">
        <span class="">check the Beers!</span>
    </button> <br>

    <button class="btn-beer" type="button">
        <span class="">check a Random Beer!</span>
    </button>
</div>