<div class="index-container">


  <img src="images/beer.png" class="beer-img">

  <a href="/beers" class="btn btn-ironbears">Check the bears!</a>

  <a href="/" class="btn btn-ironbears">Check a random beer!</a>

</div>