<div class="index-container">
  <div class="image-container">
    <img class="hero-image" src="/images/beer.png" alt="Pitcher of beer" />
  </div>
  <div class="button-container">
    <button class="btn-blue" onclick="window.location.href='/beers'">Check the Beers!</button>
  </div>
  <div class="button-container">
    <button class="btn-blue" onclick="window.location.href='/random-beer'">Check a Random Beer!</button>
  </div>
</div>