<div class="index-container">
  <div class="index-container column">
    <form action="/" method="POST">
      <input type="text" name="username">
      <input type="text" name="password">
      <button type="submit">Fake Login</button>

    </form>
    <img class="beer-home-image" src="/images/beer.png" />
    <button class="button-beer" onclick="location.href = '/beers';">Check the Beers!</button>
    <button class="button-beer" onclick="location.href = '/random-beer';">Check a Random Beer!</button>
  </div>
</div>