<div class="index-container">
  <img src="images/beer.png">
</div>
<div class="buttons">
  <button type="button" onclick="location.href='beers';">The Beers!</button>
  <button type="button" onclick="location.href='random-beers';">Check a Random Beer</button>
</div>