<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ironBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>
    </nav>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>Develop by Ironhack :)</p>
    </footer>
</body>
</html>