<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav id="menu-nav">
      <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="/beers"></a>Beers</li>
        <li><a href="/random-beers"></a>Random Beers</li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="main-container">
      <div class="image-beer">
        <img src="images/beer.png" alt="IronBeers:)">
      </div>
      <div class="botons-beer">
        <button>Check the Beers!</button>
        <button>Check a Random Beer!</button>
      </div>
    </div>
    {{{body}}}
  </main>
  <footer>
    <p>Develop by Johan S. Bautista.</p>
  </footer>
</body>

</html>