<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beer">Beer</a></li>
        <li><a href="/random-beers">RandomBeer</a></li>
    </ul>
    {{{body}}}
    <div class="div-1">
        <form action="/beer">
            <input type="submit" value="Check the Beers!" />
        </form>

        <form class="form-2" action="/random-beers">
            <input type="submit" value="Check a Random Beer" />
        </form>
    </div>
</body>
<footer>
    <p>Develop by IronHack ;)</p>
</footer>

</html>