<!doctype html>
<html lang="en">

<head>
  <title>Beer App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
</head>

<body>
  <header>
    <nav>
      <ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beers</a></li>
      </ul>
    </nav>
  </header>
  <main id="main-container">
    {{{body}}}
  </main>
  <footer id="main-footer">
    <h3>Develop by Ironhack :)</h3>
  </footer>
</body>

</html>