<!doctype html>
<html lang="en">

<head>
  <title>piero & pol</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <nav></nav>
</body>
</html>