<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    </nav>
  </header>
  <main>  
    {{{body}}}
  </main>
  <footer>
    <p>Develop by Ironhack ;)</p>
  </footer>
</body>
</html>
