<!doctype html>
<html lang="en">

<head>
  <title>Ironbeers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
  <div class="root">
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/beers/random-beer">Random beer</a></li>
      </ul>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
      <p>Developped by Ironhack :)</p>
    </footer>
  </body>
  </div>
</html>