<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    <link rel="icon" href="/images/beer.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>

    {{{ body }}}

    <footer>
        <p>Developed By Ironhack :)</p>
    </footer>

</body>

</html>