<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>


<body>
    <nav class="navbar">
        <div class="navbar-nav">
            <a href="/" class="nav-item">Home</a>
            <a href="/beers" class="nav-item">Beers</a>
            <a href="/random-beers" class="nav-item">Random Beer</a>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer">
        <div class="nav-footer">
            <p class="footer-text"> Develop by Ironhack ;) .XGZ.</p>
        </div>
    </footer>
</body>


</html>