<!doctype html>
<html lang="en">

<head>
  <title>Random Beers!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./stylesheets/styles.css">
  <link rel="stylesheet" href="./stylesheets/reset.css">

</head>

<body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-list-item">
            <a href="/" class="navbar-list-link">Home</a>
          </li>
          <li class="navbar-list-item">
            <a href="/beers" class="navbar-list-link">Beers</a>
          </li>
          <li class="navbar-list-item">
            <a href="/random-beer" class="navbar-list-link">Random Beers</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">{{{body}}}</main> 
    <footer class="footer">
      <p class="footer-credits">Develop by Ironhack ;)</p>
    </footer>
</body>
</html>