<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/styles.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>layout</title>
</head>
<body>
  <header class='cabecera'>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random Beer</a></li>
      </ul>
    </nav>
  </header>
  <section class='principal'>
    <div class='central'>
    <img src="../public/images/beer.png" width="200" height="200" alt="" srcset="">  
    <div id=primerbuto><button class='buto'>Beers</button></div>
    <div id=segonbuto><button class='buto'>Random beer</button></div>
    
    </div>
  </section>
  
  <footer class='pie'>
     <p>Develop by Ironhack ;)</p>
  </footer>
</body>
</html>