<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <nav class="navbar">
        <ul class="navbar2">
            <li class="home">
                <a class="nav-link" href='/'><span style="color:blue"><b>HOME</b></a>
            </li>
            <li class="beers">
                <a class="nav-link" href='/beers'><span style="color:blue"><b>BEERS</b></a>
            </li>
            <li class="randombeers">
                <a class="nav-link" href='/randomBeers'><span style="color:blue"><b>RANDOM BEERS</b></a>
            </li>
            
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <p>Develop by Ironhack!</p>

    </footer>
</body>

</html>