<div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="random beer">
    <div class="card-body">
        <h3 class="card-title">{{name}}</h3>
        <h4>{{tagname}}</h4>
        <p class="card-text">{{description}}</p>
    </div>
</div>