
/* ---- reset ---- */



html {

    box-sizing: border-box;
  
  }
  
  *,
  
  *:before,
  
  *:after {
  
    box-sizing: inherit;
  
  }
  
  body {
  
    margin: 0;
  
    padding: 0;
  
  }
  
  ul,
  
  li {
  
    list-style-type: none;
  
    margin: 0;
  
    padding: 0;
  
  }
  
  a {
  
    text-decoration: none;
  
  }
  
  /* ---- typography ---- */
  
  body {
  
    font-family: 'Raleway',
  
    sans-serif;
  
    font-size: 1rem;
  
  }
  
  h1,
  
  h2, 
  
  h3,
  
  h4, 
  
  p {
  
    margin: 0;
  
    padding: 0;
  
  }
  
  :-webkit-any(article, aside, nav, section) h1 {
  
    font-size: unset;
  
    margin-block-start: 0;
  
    margin-block-end: 0;
  
  }
  
  