/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #F7F9F9;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #2081C3;
  color: #F7F9F9;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.nav-items {
  display: flex;
}

.nav-link {
  padding: 15px;
  list-style-type: none;
}

.nav-link > a {
  text-decoration: none;
  color: #F7F9F9;
}

footer {
  display: flex;
  
}

.footer-bar {
  display: flex;
  color: #F7F9F9;
  background-color: #0A2C42;
  padding: 10px;
  width: 100%;
  /*position: fixed;*/
  bottom: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.content {
  margin-top: 60px;
}

.index-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin-top: 15vh;
}

.error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.hero-image {
  max-width: 400px;
  height: auto;
  padding: 30px;
}

.error-image {
  max-height: 500px;
  width: auto;
  padding: 30px;
}

.button-container {
  padding: 10px;
}

.btn-blue {
  background-color: #2081C3;
  color: #F7F9F9;
  border-radius: 3px;
  border: 0;
  padding: 12px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.burp {
  font-weight: bolder;
  font-size: 2rem;
  color: red;
  font-family: 'Bubblegum Sans', cursive;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.beer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  width: calc(33% - 30px);
  padding: 30px 10px 10px 10px;
}

@media only screen and (max-width: 900px) {
  .beer-container {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 600px) {
  .beer-container {
    width: calc(100% - 10px);
  }
}

.beer-header > p {
  margin: -15px 0px 0px 0px;
}

.beer-name {
  font-weight: bolder;
  text-align: left;
  font-size: 1.2rem;
  color: #2081C3;
  padding: 10px;
}

.beer-tagline {
  font-weight: bold;
  text-align: left;
  color: rgba(145, 145, 145, 0.481);
  padding: 10px;
}

.beer-body {
  text-align: left;
}

.beer-image {
  width: auto;
  height: 250px;
  padding-bottom: 15px;
}

.beer-text {
  padding: 10px;
}