/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
  /* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

body{
  font-family: Arial, Helvetica, sans-serif;
}
main{
  background-color: #F7F9F9;
}
header{
  background-color:  #2081C3;
  color: white;
}
footer{
  background-color:  #0A2C42;
  color: white;
  padding: 15px;
}
ul{
  list-style-type: none;
  display: flex;
  
}
li{
  padding: 15px;
}
.contenedor{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}





/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}