/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/************** NAVBAR **********/

nav {
  background-color: #2081c3;
  width: 100%;
}

nav ul {
  padding: 20px 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #f7f9f9;
  text-decoration: none;
  margin-right: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/************** FOOTER **********/

footer {
  background-color: #0a2c42;
  width: 100%;
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
}

footer p {
  color: #f7f9f9;
}
