/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif
}

/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}


/* ---- layout ---- */
.container {
  margin: 0 20px;
}
.container a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

nav {
  padding: 20px;
  padding-left: 40px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

nav {
  background-color:#2081C3;
  text-align: left;
}
nav a {
  padding: 20px;
  color: white;
  text-decoration: none;
}
footer{
  background-color: #0A2C42;
  color: white;
  padding: 3px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.beer_img {
  width: 280px;
  display: block;
  box-sizing: border-box;
  margin: 40px auto;
}

.buttons {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.btn-primary {
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #2081C3;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.4); 
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.4);
  border-radius: 5px;
}
.beers-container{
  width: 100%;
  margin: 40px;
  display:flex;
  flex-wrap: wrap;
}
.beer-partial {
  width: 30%;
  margin: 0 10px;
  padding-bottom: 30px;
}
.beer-partial img {
  display:block;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}
.beer-partial h3{
  color:rgba(145, 145, 145, 0.481);
}