/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-color: rgba(145, 145, 145, 0.481);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header {
  background-color: #2081c3;
  width: 100%;
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 30px 0;
}

li {
  display: inline;
  padding: 30px;
}

ul li a {
  text-decoration: none;
  color: #f7f9f9;
}

footer {
  background-color: #0a2c42;
  color: #f7f9f9;
  margin-top: auto;
  height: 100px;
}

footer > p {
  padding: 30px;
}

.index-container {
  width: 100%;
  padding: 5% 0;
}

.main-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.img-beer {
  margin: 0 auto 5%;
  padding: 0 0 10px 0;
}

.beer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-beer {
  width: 50%;
  margin: 2% auto;
  background-color: #2081c3;
  border-radius: 5%;
  border-style: none;
}

.btn-beer a {
  text-decoration: none;
  font-size: 2em;
  color: #f7f9f9;
}
