/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #2081C3;
  box-shadow: 0 0 20px 0 #0A2C42;
}

nav ul {
  padding: 25px 30px;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #F7F9F9;
}

footer {
  width: 100%;
  background-color: #0A2C42;
  color: #F7F9F9;
  padding: 25px 30px;
  height: 70px;
  position: fixed;
  top: calc(100vh - 70px);
}

.index-container {
  display: flex;
  flex-flow: column;
}

.index-container img {
  width: 450px;
  align-self: center;
  margin: 75px 0;
} 

button {
  background-color: #2081C3;
  color: #F7F9F9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  align-self: center;
  margin: 10px;
  font-size: 16px;
}